@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-dark-gray-color: rgba(38, 40, 43, 1);
  --bg-light-gray-color: rgba(47, 49, 54, 1);
  --turqouise-color: rgba(60, 219, 192, 1);
  --primary-font: "Poppins", sans-serif;
  --main-text-color: white;
  --secondary-text-color: black;
}
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 100%;
  font-family: var(--primary-font);
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
p,
a {
  font-family: var(--primary-font);
}
h1,
h2 {
  font-size: 2.3rem;
  color: var(--main-text-color);
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  color: var(--turqouise-color);
  font-weight: 600;
  margin-bottom: 1em;
}
h4 {
  font-size: 1rem;
}
p {
  color: var(--main-text-color);
  font-size: 1.25rem;
}
section {
  padding: 1.5rem;
}
button {
  width: 200px;

  border: none;
  color: var(--secondary-text-color);
  border-radius: 100px;
  text-transform: uppercase;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background: #3cdbc0 0% 0% no-repeat padding-box;
  box-shadow: -4px -4px 10px #3a3a3ab3;
}
nav {
  background: var(--bg-dark-gray-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 80px;
}
.logo {
  width: 120px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#header-wrapper {
  background-image: url(assets/bg-dark2.png);
  background-size: cover;
  background-position: 59% 42%;
  padding: 1.5rem;
}
.subtitle p {
  font-size: 0.875rem;
  margin-top: 1em;
}
.subtitle {
  margin-bottom: 2em;
}
.title {
  margin-top: 4em;
  margin-bottom: 4em;
}
.title span {
  color: var(--turqouise-color);
  display: block;
  font-weight: 400;
  font-size: 2rem;
}
.toggle {
  width: 100px;
  height: 40px;
  background: transparent
    linear-gradient(90deg, #c326be 0%, #22737f 49%, #35c625 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: -3px -3px 10px #4a4a4a;
  border-radius: 100px;

  margin-top: 1em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.2em;
}
.toggle-switch {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 6px #000000;
}
img {
  width: 80px;
}
.subtitle span {
  display: flex;
  justify-content: flex-end;
}
.align-title {
  text-align: right;
  margin-top: 1em;
}

/* -----------------------products----------------------- */
#benefits {
  background: var(--bg-dark-gray-color);
}
h3 span {
  display: block;
}
.benefit-description {
  color: var(--main-text-color);
  font-size: 1.1875rem;
  font-weight: 600;
  text-align: center;
}
.benefit-card img {
  border-radius: 50px;
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}
.benefit-card {
  margin-bottom: 2em;
}
