@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-dark-gray-color: rgba(38, 40, 43, 1);
  --bg-light-gray-color: rgba(47, 49, 54, 1);
  --turqouise-color: rgba(60, 219, 192, 1);
  --primary-font: "Poppins", sans-serif;
  --main-text-color: white;
  --secondary-text-color: black;
}
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 100%;
  font-family: var(--primary-font);
}
img {
  max-width: 100%;

  height: auto;
}
h1,
h2,
h3,
h4,
p,
a {
  font-family: var(--primary-font);
}
h1,
h2 {
  font-size: 2.3rem;
  color: var(--main-text-color);
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
  color: var(--turqouise-color);
  font-weight: 600;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.5rem;
  color: var(--main-text-color);
  text-transform: uppercase;
  margin-bottom: 1em;
}
p {
  color: var(--main-text-color);
  font-size: 1.1rem;
}
section {
  padding: 1.5rem;
  background: var(--bg-dark-gray-color);
  padding-bottom: 4em;
}
button {
  width: 150px;

  border: none;
  color: var(--secondary-text-color);
  border-radius: 100px;
  text-transform: uppercase;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background: var(--turqouise-color) 0% 0% no-repeat padding-box;
  box-shadow: -4px -4px 10px rgba(58, 58, 58, 0.7);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}
nav {
  background: var(--bg-dark-gray-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 70px;
}
.logo img {
  width: 80px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#header-wrapper {
  background-image: url(assets/bg-dark2.png);
  background-size: cover;
  background-position: 59% 42%;
  padding: 1.5rem;
}
.subtitle p {
  font-size: 0.875rem;
  margin-top: 1em;
}
.subtitle {
  margin-bottom: 2em;
}
.title {
  margin-top: 4em;
  margin-bottom: 4em;
}
.title span {
  color: var(--turqouise-color);
  display: block;
  font-weight: 400;
  font-size: 2rem;
}
.toggle {
  width: 100px;
  height: 40px;
  background: transparent
    linear-gradient(90deg, #c326be 0%, #22737f 49%, #35c625 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: -3px -3px 10px #4a4a4a;
  border-radius: 100px;

  margin-top: 1em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.2em;
}
.toggle-switch {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 6px #000000;
}
span img {
  width: 80px;
}
.subtitle span {
  display: flex;
  justify-content: flex-end;
}
.align-title {
  text-align: right;
  margin-top: 1em;
}

/* -----------------------moods----------------------- */
.moods h3 {
  color: var(--main-text-color);
  margin-bottom: 0.5em;
}

.moods {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.moods:nth-of-type(1) {
  background-image: url(assets/mood1.png);

  background-size: 300%;
  background-position: 40% 60%;
}
.secondary-button {
  color: var(--turqouise-color);
  background: transparent;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  border: 2px solid var(--turqouise-color);
  cursor: pointer;
  text-transform: none;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  margin-top: 2em;
  box-shadow: none;
}
.moods:nth-of-type(2) {
  background-image: url(assets/mood2.png);
  background-size: cover;
  background-position: 40% 60%;
}
.moods:nth-of-type(3) {
  background-image: url(assets/mood3.png);
  background-size: cover;
  background-position: 60% 40%;
}
.moods:nth-of-type(4) {
  background-image: url(assets/mood4.png);
  background-size: cover;
  background-position: 20% 80%;
}
/* -----------------------benefits----------------------- */
#benefits {
  background-image: url(assets/gaussian2.png);
  background-size: 100%;
  background-repeat: repeat;
  /* background-position: center; */
}
.benefit-description {
  color: var(--main-text-color);
  font-size: 1.1875rem;
  font-weight: 600;
  text-align: center;
}
.benefit-card img {
  border-radius: 50px;
  width: 70%;
  /* width: 258px;
  height: 258px; */
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}
.benefit-card {
  margin-bottom: 2em;
}

/* -----------------------products----------------------- */

.product-name,
.product-price {
  color: var(--main-text-color);
  text-align: center;
}
.product-name {
  font-size: 2.0625rem;
  font-weight: 600;
}
.product-price {
  font-size: 1.375rem;
  font-weight: normal;
  margin-top: -0.3em;
}
.product-card {
  background: rgba(47, 49, 54, 1) 0% 0% no-repeat padding-box;
  box-shadow: -4px -4px 10px rgba(58, 58, 58, 0.7);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  padding: 1em;
  padding-bottom: 2em;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 2em;
}
.product-card button {
  text-transform: none;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 160px;
}
.product-card img {
  width: 65%;
}

/* -----------------------reviews----------------------- */
#reviews {
  /* background: red; */
}
.review-card {
  background: rgba(47, 49, 54, 1) 0% 0% no-repeat padding-box;
  box-shadow: -4px -4px 10px rgba(58, 58, 58, 0.7);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  padding: 2em;
  padding-top: 3em;
  padding-bottom: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 1.5em;
}
.review-title,
.review-comment {
  color: var(--main-text-color);
}
.review-title {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 0.5em;
}
.review-comment {
  font-size: 1rem;
  font-weight: normal;
}
.stars {
  margin-top: 1.5em;
  display: flex;
}
.stars img {
  width: 1.95em;
  height: 1.95em;
  padding-right: 0.5em;
}

/* -----------------------footer----------------------- */

footer p {
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 1em;
}
footer div {
  margin-bottom: 4em;
}
.some {
  display: flex;
}
.some img {
  margin-right: 2em;
  width: 4em;
  height: 4em;
}
.form-email input {
  border-radius: 50px;
  text-transform: uppercase;
}

.form-email input[type="email"] {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 1.25rem;

  border: none;
  text-transform: none;

  width: 100%;
  max-width: 450px;
  margin-top: 1em;
}
.form-email .secondary-button {
  margin-top: 1em;
}

/* .........................MEDIA QUERIES..................... */
/* .........................MEDIA QUERIES..................... */
/* .........................MEDIA QUERIES..................... */

@media screen and (min-width: 700px) {
  #header-wrapper {
    padding-left: 4em;
    padding-right: 4em;
  }
  nav {
    padding-left: 4em;
    padding-right: 4em;
  }
  .subtitle span {
    display: initial;
  }

  p {
    font-size: 0.85rem;
  }
  section {
    padding: 4em;
  }
  button {
    width: 180px;
  }
  /* -----------------------moods----------------------- */
  .moods h3 {
    font-size: 1.8rem;
  }
  .moods {
    height: 400px;
    display: flex;
    justify-items: flex-end;
  }
  .moods:nth-of-type(2),
  .moods:nth-of-type(4) {
    text-align: right;
  }
  .moods-wrapper {
    width: 70%;
  }
  .moods:nth-of-type(2) .moods-wrapper,
  .moods:nth-of-type(4) .moods-wrapper {
    align-self: flex-end;
  }
  .moods .secondary-button {
    display: initial;
    margin: initial;
    width: 250px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
  }
  /* -----------------------benefits----------------------- */
  #benefits {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 2rem;
    justify-items: center;
  }
  #benefits h3 {
    grid-column: 1 / -1;
  }
  .benefit-card img {
    width: 80%;
    /* width: 293px;
    height: 293px; */
  }
  .benefit-card {
    width: 100%;
  }
  #benefits .benefit-card:last-of-type {
    /* grid-column: 1 / -1; */
    /* width: 50%; */
  }
  .benefit-description {
    font-size: 1rem;
  }
  /* -----------------------products----------------------- */

  #products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
  }
  #products h3 {
    grid-column: 1 / -1;
  }
  .product-card {
    width: 100%;
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 25px;
  }
  .product-name {
    font-size: 1.2rem;
  }
  .product-price {
    font-size: 1rem;
    margin-top: 0;
  }
  .product-card button {
    text-transform: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 130px;
  }

  /* -----------------------reviews----------------------- */
  #reviews {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
  }
  #reviews h3 {
    grid-column: 1 / -1;
  }
  .review-card {
    border-radius: 25px;
    padding: 1.5em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 0;
  }
  .review-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
  .review-comment {
    font-size: 1rem;
    font-weight: normal;
  }
  .stars img {
    width: 1.5em;
    height: 1.5em;
    padding-right: 0.3em;
  }
  /* -----------------------footer----------------------- */
}
@media screen and (min-width: 900px) {
  /* -----------------------moods----------------------- */
  /* -----------------------benefits----------------------- */
  #benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
  /* #benefits .benefit-card:last-of-type {
    grid-column: initial;
    width: 100%;
  } */
  .benefit-card img {
    border-radius: 25px;
    width: 100%;
    /* height: auto; */
  }
  .benefit-description {
    font-size: 0.75rem;
  }
  /* -----------------------products----------------------- */
  #products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
  }

  /* .product-image {
    height: 7em;
  } */
  /* -----------------------reviews----------------------- */

  /* .review-comment {
    font-size: 0.75rem;
  } */
  #reviews {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
  }
  .review-comment {
    font-size: 0.75rem;
  }
  .review-card {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .stars {
    margin-top: 1em;
  }
  /* -----------------------footer----------------------- */
  footer section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer h4 {
    font-size: 1rem;
  }
  footer p {
    font-size: 0.75rem;
  }
  .some img {
    margin-right: 1em;
    width: 2.2em;
    height: 2.2em;
  }
  .form-email {
    display: flex;
    flex-direction: row;
  }
  .form-email input {
    border-radius: 25px;
    text-transform: uppercase;
  }

  .form-email input[type="email"] {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 0.85rem;

    border: none;
    text-transform: none;

    width: 100%;
    max-width: 450px;
    margin-top: 1em;
  }
  .form-email .secondary-button {
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 0.5em;
    width: 40%;
    font-size: 0.85rem;
    border-radius: 25px;
  }
}
@media screen and (min-width: 1100px) {
  #header-wrapper {
    padding-left: 6em;
    padding-right: 6em;
  }
  nav {
    padding-left: 6em;
    padding-right: 6em;
    height: 90px;
  }
  button {
    width: 200px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    font-size: 1.2rem;
  }
  .logo img {
    width: 120px;
  }
  span img {
    width: 100px;
  }
  section {
    padding: 6em;
  }
  h1,
  h2 {
    font-size: 3rem;
  }
  .title span {
    font-size: 2.4rem;
  }
  .subtitle p {
    font-size: 1.2rem;
  }
  .title {
    margin-bottom: 8em;
  }
  .toggle {
    margin-top: 3em;
  }
  /* -----------------------moods----------------------- */
  .moods h3 {
    font-size: 3.125rem;
    margin-bottom: 0;
  }
  .moods p {
    font-size: 1.3125rem;
  }
  .moods {
    height: 700px;
    display: flex;
    justify-items: flex-end;
  }
  .moods:nth-of-type(2),
  .moods:nth-of-type(4) {
    text-align: right;
  }
  .moods-wrapper {
    width: 70%;
  }
  .moods:nth-of-type(2) .moods-wrapper,
  .moods:nth-of-type(4) .moods-wrapper {
    align-self: flex-end;
  }
  .moods .secondary-button {
    display: initial;
    margin: initial;
    width: 250px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
  }
  /* -----------------------benefits----------------------- */
  .benefit-description {
    font-size: 1rem;
  }
  /* -----------------------products----------------------- */
  .product-card img {
    width: 90%;
  }
  #products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
  }
  /* -----------------------reviews----------------------- */
  #reviews {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
  }
  .review-card {
    padding-left: 2em;
    padding-right: 2em;
  }
  .review-title {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 0.5em;
  }
  .review-comment {
    font-size: 1rem;
  }
  .stars img {
    width: 2.2em;
    height: 2.2em;
    padding-right: 0.5em;
  }
  /* -----------------------footer----------------------- */

  footer h4 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  footer p {
    font-size: 1rem;
  }
  .some img {
    margin-right: 1.5em;
    width: 3.5em;
    height: 3.5em;
  }
  .form-email {
    display: flex;
    flex-direction: row;
  }
  .form-email input {
    border-radius: 25px;
    text-transform: uppercase;
  }

  .form-email input[type="email"] {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 1rem;

    border: none;
    text-transform: none;

    width: 100%;
    max-width: 450px;
    margin-top: 1em;
  }
  .form-email .secondary-button {
    margin-top: 1em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-left: 1em;
    width: 40%;
    font-size: 1rem;
    border-radius: 25px;
  }
}
@media screen and (min-width: 1300px) {
  #header-wrapper {
    padding-left: 6em;
    padding-right: 6em;
  }
  nav {
    padding-left: 6em;
    padding-right: 6em;
  }
  section {
    padding: 6em;
  }
  /* -----------------------moods----------------------- */
  /* -----------------------benefits----------------------- */
  .benefit-card img {
  }
  /* -----------------------products----------------------- */
  #products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
  }
  /* -----------------------reviews----------------------- */
  #reviews {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    justify-items: center;
  }
  /* -----------------------footer----------------------- */
}

@media screen and (min-width: 1600px) {
  /* -----------------------moods----------------------- */
  .moods {
    height: 600px;
  }
  /* -----------------------benefits----------------------- */
  .benefit-card img {
    height: 293px;
  }
  /* -----------------------products----------------------- */
  #products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
  }
  /* -----------------------reviews----------------------- */
  #reviews {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    justify-items: center;
  }
  /* -----------------------footer----------------------- */
}
